@charset "UTF-8";

@font-face {
    font-family: Pe-icon-7-stroke;
    src: url(../fonts/Pe-icon-7-stroke.eot?d7yf1v);
    src: url(../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v) format("embedded-opentype"), url(../fonts/Pe-icon-7-stroke.woff?d7yf1v) format("woff"), url(../fonts/Pe-icon-7-stroke.ttf?d7yf1v) format("truetype"), url(../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

html {
    font-family: Work Sans, sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    color: #5f5f5f;
    letter-spacing: .004em;
    line-height: 1.65;
}

.navbar {
    position: relative;
    font-size: .96rem;
    z-index: 1000;
    transition: background-color .3s;
    will-change: background-color;
}

.navbar_fixed
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .2s, visibility .2s, background-color .3s;
    will-change: transform, visibility, background-color
}

.navbar_hidden
{
    display: none;
}

.navbar_white-bg
{
    background: #fff;
}

.navbar__content-wrapper
{
    display: table;
    width: 100%;
    padding: 33px 15px;
    margin: 0 auto;
    width: 1140px;
    box-sizing: border-box;
}

@media (max-width:1140px) {
    .navbar__content-wrapper
    {
        width: 100%;
    }
}

.navbar__logo
{
    display: table-cell;
}

@media (max-width:1250px) {
    .navbar__logo
    {
        padding-left: 50px;
    }
}

.navbar__logo-img
{
    height: 35px;
    display: block;
}

.logo__img_black
{
    display: none;
}

.navbar_white-bg .logo__img_black
{
    display: block;
}

.navbar_white-bg .logo__img_white
{
    display: none;
}

.navbar__menu
{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

@media (max-width:1140px) {
    .navbar__menu
    {
        padding-right: 20px;
    }
}

.navbar__burger
{
    display: none;
}

.burger__line
{
    height: 2px;
    background: #fff;
    width: 25px;
    margin: 5px 50px 5px auto;
}

.navbar__burger:hover .burger__line_1
{
    animation: a .4s ease-in-out
}

.navbar__burger:hover .burger__line_2
{
    animation: a .4s .1s ease-in-out
}

.navbar__burger:hover .burger__line_3
{
    animation: a .4s .2s ease-in-out
}

@keyframes a {
    0%,
    to {
        transform: translateX(0)
    }
    50% {
        width: 15px;
        transform: translateX(-5px)
    }
}

.burger_black .burger__line
{
    background: #000;
}

@media (max-width:900px) {
    .navbar__menu
    {
        display: none;
    }

    .navbar__burger
    {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }
}

.menu__item
{
    display: inline-block;
    padding: 5px 15px;
}

.menu__link
{
    color: #bfbfbf;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar_white-bg .menu__link
{
    color: #999;
}

.menu__link:hover
{
    color: #fff;
}

.navbar_white-bg .menu__link:hover
{
    color: #777;
}

.menu__link:active
{
    color: #dfdfdf;
}

.navbar_white-bg .menu__link:active
{
    color: #444;
}

.mobile-bar
{
    width: 100%;
    height: 105%;
    position: fixed;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: 50% 50%;
    z-index: 10;
    opacity: 1;
    animation: show .5s ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        display: none;
    }
}

.mobile-bar_hidden
{
    /* display: none; */
    opacity: 0;
    animation: hide .5s ease-in-out;
}

.mobile-bar__header
{
    padding: 33px 50px;
}

.mobile-bar__logo-img
{
    display: inline-block;
    height: 35px;
}

.mobile-bar__close
{
    height: 35px;
    width: 35px;
    float: right;
    font-family: FontAwesome;
    font-size: 35px;
    line-height: 35px;
    color: #fff;
}

.mobile-bar__close::after
{
    content: '\f00d'
}

.mobile-bar__navigation
{
    text-align: center;
    margin: 50vh auto 0;
    transform: translateY(-100%);
    background: rgba(0, 0, 0, .5);
    width: 400px;
}

@media (max-width:400px) {
    .mobile-bar__navigation
    {
        width: Calc(100% - 30px);
    }
}

.mobile-bar__menu
{
    padding: 0;
}

.menu__item_block
{
    display: block;
    font-family: Playfair Display,serif;
    font-size: 1.7rem;
    text-transform: none;
    font-weight: 700;
    padding: 3px 80px;
    color: #d8d8d8;
}

@media (max-width:400px) {
    .menu__item_block
    {
        font-size: 1.25rem;
        padding: 3px 40px;
    }
}

.menu__item_block .menu__link
{
    text-transform: none;
}

@media (max-width:400px) {
    .mobile-bar__footer
    {
        margin-top: -100px;
    }
}

.mobile-bar__social
{
    text-align: center;
    margin-top: -5vh;
}

.mobile-bar__social .social__icon
{
    opacity: .8;
    font-size: 1.5rem;
}

/* main */
.main
{
    margin-top: -20px;
}
/* start main__preview */
.main__preview
{
    height: 100vh;
}

.preview__bg
{
    height: 100%;
    width: 100%;
    position: absolute;
}

.preview__image
{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.preview__image-overlay
{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .5);
}

.preview__text
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.preview__subtitle
{
    font-size: .93rem;
    letter-spacing: .2em;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
}

.preview__title
{
    font-size: 3.4rem;
    line-height: 1.18;
    font-family: Playfair Display,serif;
    font-weight: 700;
}

@media (max-width:500px) {
    .preview__title
    {
        font-size: 2.5rem;
    }
}

@media (max-width:350px) {
    .preview__title
    {
        font-size: 1.5rem;
    }
}

.preview__slogan
{
    font-weight: 400;
}

.preview__scroll-down
{
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    color: #ddd;
    font-family: Pe-icon-7-stroke;
    text-decoration: none;
    font-size: 40px;
}

.preview__scroll-down::after
{
    content: "\e688";
    position: relative;
    top: -6px;
}
/* end main__preview */

/* start main__about */
.main__about
{
    padding: 80px 15%;
    text-align: center;
}

.about__title
{
    font-family: Playfair Display,serif;
    font-weight: 700;
    font-size: 2.6rem;
    color: #111;
}

.about__text
{
    margin-bottom: 1.6rem;
}
/* end main__about */

/* start counters */
.main__counters
{
    padding: 100px 0;
    position: relative;
    background-image: url('../images/bg-pattern.jpg');
    background-size: cover;
    background-position: 50% 50%;

    color: #fff;
}

.counters__items
{
    width: 1080px;
    margin: 0 auto;
}

@media (max-width:1080px) {
    .counters__items
    {
        width: 540px;
    }
}

@media (max-width:540px) {
    .counters__items
    {
        width: 270px;
    }
}

.counters__item
{
    display: inline-block;
    padding: 0 15px;
}

.counters__icon
{
    display: inline-block;
    font-family: Pe-icon-7-stroke;
    line-height: 50px;
    font-size: 3.3rem;
}

.icon_portfolio::after
{
    content: "\e622";
}

.icon_clock::after
{
    content: "\e66b";
}

.icon_star::after
{
    content: "\e611";
}

.icon_like::after
{
    content: "\e642";
}

.counters__info
{
    display: inline-block;
    margin-left: 15px;
    max-width: 160px;
}

.counters__count
{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 50px;
}

.counters__text
{
    text-transform: uppercase;
    font-weight: 500;
    font-size: .97rem;
    margin-top: -1px;
}
/* end counters */

/* start work */
.main__work
{
    padding: 80px 0;
}

.work__title
{
    font-family: Playfair Display,serif;
    font-weight: 700;
    font-size: 2.6rem;
    color: #111;
    text-align: center;
}

.work__text
{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.work__works
{
    width: 1110px;
    margin: 0 auto;
}

@media (max-width:1110px) {
    .work__works
    {
        width: 740px;
    }
}

@media (max-width:740px) {
    .work__works
    {
        width: 370px;
    }
}

@media (max-width:370px) {
    .work__works
    {
        width: 100%;
    }
}

.work__item
{
    display: inline-block;
    position: relative;
    width: 370px;
    height: 370px;
    margin-right: -6px;
    margin-bottom: -8px;
}

.item__image
{
    position: absolute;
    width: 370px;
    height: 370px;
    overflow: hidden;
}

.item__img
{
    min-width: 370px;
    min-height: 370px;
}

.item__info
{
    position: absolute;
    top: 0;
    height: 370px;
    width: 370px;
}

@media (max-width:370px) {
    .work__item,
    .item__image,
    .item__img,
    .item__info
    {
        width: 100vw;
        height: 100vw;
    }
}

.item__info:hover
{
    background: rgba(0, 0, 0, .75);
    transition: background-color .5s;
}

.item__title
{
    text-align: center;
    position: relative;
    top: 50%;
    opacity: 0;
    font-size: 1.69rem;
    font-family: Playfair Display,serif;
    color: #fff;
    font-weight: 700;
}
.item__price
{
    text-align: center;
    position: relative;
    top: 50%;
    opacity: 0;
    font-size: .95rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.item__price::after
{
    content: ' р.'
}

.item__info:hover .item__title,
.item__info:hover .item__price
{
    opacity: 1;
    transform: translateY(-50%);
    transition: opacity .3s, transform .5s;
}

/* end work */

/* start reviews */
.main__reviews
{
    padding: 100px 0;
    position: relative;
    background-image: url('../images/bg-pattern.jpg');
    background-size: cover;
    background-position: 50% 50%;

    color: #fff;
    text-align: center;
}

.reviews__text
{
    font-size: 1.685rem;
    line-height: 1.45;
    margin-bottom: 1.15rem;
    font-family: Playfair Display,serif;
    font-style: italic;
    white-space: normal;
}

.reviews__cite
{
    font-family: Work Sans,sans-serif;
    font-size: .96rem;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

.reviews__slider
{
    width: 1000px;
    height: 300px;
}

@media (max-width:1000px) {
    .reviews__slider
    {
        width: 100%;
    }
}

.reviews__pagination .swiper-pagination-bullet
{
    position: relative;
    background: #777;
    transition: height .2s, width .2s;
}

.reviews__pagination .swiper-pagination-bullet-active
{
    background: #fff;
    width: 12px;
    height: 12px;
    top: 2px;
}
/* end reviews */

/* start main__employees */
.employees__title
{
    font-size: 2.6rem;
    font-family: Playfair Display,serif;
    color: #171717;
    font-weight: 700;
    text-align: center;
    margin: 100px 0 70px;
}
.employees__masters
{
    width: 1110px;
    margin: 0 auto;
}

@media (max-width:1110px) {
    .employees__masters
    {
        width: 740px;
    }
}

@media (max-width:740px) {
    .employees__masters
    {
        width: 370px;
    }
}

@media (max-width:370px) {
    .employees__masters
    {
        width: 100%;
    }
}

.employees__masters .js_slide

.employees__employee
{
    width: 350px;
    margin: 0 10px;
    line-height: 1.65;

}

.employee__photo
{
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.employee__photo-overlay:hover
{
    opacity: 1;
}

.employee__photo-img
{
    min-width: 350px;
    min-height: 350px;
}

.employee__name
{
    font-size: .8rem;
    background-color: #252525;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: 309px;
    left: 20px;
}

.employee__title
{
    font-size: 1.4rem;
    margin: 15px 0;
    white-space: normal;
    font-family: Playfair Display,serif;
    color: #171717;
    font-weight: 700;
    padding: 0 30px;
}

.employee__text
{
    font-size: 1rem;
    white-space: normal;
    padding: 0 30px;
}

.employees__slider
{
    padding-bottom: 40px;
}

.employees__pagination .swiper-pagination-bullet
{
    position: relative;
    background: #777;
    transition: height .2s, width .2s;
}

.employees__pagination .swiper-pagination-bullet-active
{
    background: #777;
    width: 12px;
    height: 12px;
    top: 2px;
}

/* end main__employees */

/* start contacts */
.main__contacts
{
    width: 1100px;
    margin: 70px auto;
}

@media (max-width:1100px) {
    .main__contacts
    {
        width: 100%;
    }
}

.contacts__info
{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.contacts__title
{
    font-size: 2.6rem;
    white-space: normal;
    font-family: Playfair Display,serif;
    color: #171717;
    font-weight: 700;
    padding: 0 0 40px 40px;
}

.contacts__list
{
    list-style: none;
}

.contacts__mail
{
    display: inline-block;
    width: 59%;
}

@media (max-width:900px) {
    .contacts__mail
    {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}

.mail__row
{
    margin: 20px 0;
}

.contacts__input
{
    background: #eee;
    padding: 16px 22px;
    line-height: 1.2;
    font-size: .95rem;
    border: none;
    width: 100%;
    font: inherit;
    box-sizing: border-box;
}

.contacts__input_half
{
    width: 49%;
}

.contacts__name
{
    margin-right: 2%;
}

.contacts__email
{
    margin-left: -6px;
}

.contacts__button
{
    padding: 18px 22px;
    background: #252525;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: .96rem;
    border: 0;
    transition: all .5s;
}

.contacts__button:hover
{
    background: #444;
}
/* end contacts */

/* start footer */
.main__footer
{
    padding: 40px 0;
    background: #ebebeb;
    text-align: center;
}

.social__icon
{
    display: inline-block;
    font-family: FontAwesome;
    color: #000;
    font-size: 1.13rem;
    transition: all .5s;
    margin: 10px;
    opacity: .4;
    cursor: pointer;
}

.social__icon:hover
{
    opacity: 1;
}

.icon__twitter::after
{
    content: '\f099';
}

.icon__facebook::after
{
    content: '\f09a';
}

.icon__instagram::after
{
    content: '\f16d';
}

.footer__link
{
    text-decoration: none;
    color: inherit;
}

.footer__link:hover
{
    color: #000;
}
/* end footer */